<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="application.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="app.js"></script>
</head>
  <body>
  <table class="racer_table">
    <tr id="player1_strip">
      <td id = "first_1" class="active"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td id = "last_1"></td>
    </tr>
    <tr id="player2_strip">
      <td id = "first_2" class="active"></td>
      <td></td>
      <td> </td>
      <td></td>
      <td></td>
      <td> </td>
      <td></td>
      <td></td>
      <td> </td>
      <td></td>
      <td id ="last_2"></td>
    </tr>
  </table>
</body>
</html>
