<div class='container'>
<h4>Type in your names!</h4>
<form action='/sign_up' method ='post'>
  Player one:<input type = 'text' placeholder='Player one' name='name1'>
  Player two:<input type ='text' placeholder='Player two' name='name2'>
  <input type ='submit' value='submit'>
</form>
</div>
